/*.suo
/*.user
/CachingServiceWithAOP.Tests/bin/Debug/Autofac.Extras.DynamicProxy2.dll
/CachingServiceWithAOP.Tests/bin/Debug/Autofac.Extras.DynamicProxy2.xml
/CachingServiceWithAOP.Tests/bin/Debug/Autofac.dll
/CachingServiceWithAOP.Tests/bin/Debug/Autofac.xml
/CachingServiceWithAOP.Tests/bin/Debug/CachingServiceWithAOP.Tests.dll
/CachingServiceWithAOP.Tests/bin/Debug/CachingServiceWithAOP.Tests.pdb
/CachingServiceWithAOP.Tests/bin/Debug/CachingServiceWithAOP.dll
/CachingServiceWithAOP.Tests/bin/Debug/CachingServiceWithAOP.pdb
/CachingServiceWithAOP.Tests/bin/Debug/Castle.Core.dll
/CachingServiceWithAOP.Tests/bin/Debug/Castle.Core.xml
/CachingServiceWithAOP.Tests/obj/Debug/CachingServiceWithAOP.Tests.csproj.FileListAbsolute.txt
/CachingServiceWithAOP.Tests/obj/Debug/CachingServiceWithAOP.Tests.csprojResolveAssemblyReference.cache
/CachingServiceWithAOP.Tests/obj/Debug/CachingServiceWithAOP.Tests.dll
/CachingServiceWithAOP.Tests/obj/Debug/CachingServiceWithAOP.Tests.pdb
/CachingServiceWithAOP.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CachingServiceWithAOP.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CachingServiceWithAOP.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CachingServiceWithAOP.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CachingServiceWithAOP/bin/Debug/Autofac.Extras.DynamicProxy2.dll
/CachingServiceWithAOP/bin/Debug/Autofac.Extras.DynamicProxy2.xml
/CachingServiceWithAOP/bin/Debug/Autofac.dll
/CachingServiceWithAOP/bin/Debug/Autofac.xml
/CachingServiceWithAOP/bin/Debug/CachingServiceWithAOP.dll
/CachingServiceWithAOP/bin/Debug/CachingServiceWithAOP.pdb
/CachingServiceWithAOP/bin/Debug/Castle.Core.dll
/CachingServiceWithAOP/bin/Debug/Castle.Core.xml
/CachingServiceWithAOP/obj/Debug/CachingServiceWithAOP.csproj.FileListAbsolute.txt
/CachingServiceWithAOP/obj/Debug/CachingServiceWithAOP.csprojResolveAssemblyReference.cache
/CachingServiceWithAOP/obj/Debug/CachingServiceWithAOP.dll
/CachingServiceWithAOP/obj/Debug/CachingServiceWithAOP.pdb
/CachingServiceWithAOP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CachingServiceWithAOP/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CachingServiceWithAOP/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CachingServiceWithAOP/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/Autofac.3.3.1/Autofac.3.3.1.nupkg
/packages/Autofac.3.3.1/lib/net40/Autofac.dll
/packages/Autofac.3.3.1/lib/net40/Autofac.xml
/packages/Autofac.3.3.1/lib/portable-win+net40+sl50+wp8/Autofac.dll
/packages/Autofac.3.3.1/lib/portable-win+net40+sl50+wp8/Autofac.xml
/packages/Autofac.Extras.DynamicProxy2.3.0.5/Autofac.Extras.DynamicProxy2.3.0.5.nupkg
/packages/Autofac.Extras.DynamicProxy2.3.0.5/lib/net40/Autofac.Extras.DynamicProxy2.dll
/packages/Autofac.Extras.DynamicProxy2.3.0.5/lib/net40/Autofac.Extras.DynamicProxy2.xml
/packages/Castle.Core.3.2.2/ASL - Apache Software Foundation License.txt
/packages/Castle.Core.3.2.2/BreakingChanges.txt
/packages/Castle.Core.3.2.2/Castle.Core.3.2.2.nupkg
/packages/Castle.Core.3.2.2/Changes.txt
/packages/Castle.Core.3.2.2/License.txt
/packages/Castle.Core.3.2.2/lib/net35/Castle.Core.dll
/packages/Castle.Core.3.2.2/lib/net35/Castle.Core.xml
/packages/Castle.Core.3.2.2/lib/net40-client/Castle.Core.dll
/packages/Castle.Core.3.2.2/lib/net40-client/Castle.Core.xml
/packages/Castle.Core.3.2.2/lib/net45/Castle.Core.dll
/packages/Castle.Core.3.2.2/lib/net45/Castle.Core.xml
/packages/Castle.Core.3.2.2/lib/sl4/Castle.Core.dll
/packages/Castle.Core.3.2.2/lib/sl4/Castle.Core.xml
/packages/Castle.Core.3.2.2/lib/sl5/Castle.Core.dll
/packages/Castle.Core.3.2.2/lib/sl5/Castle.Core.xml
/packages/Castle.Core.3.2.2/readme.txt
/packages/repositories.config
